[language-server.nixd]
command = "nixd"

[[language]]
name = "nix"
language-servers = [ "nixd" ]

[language-server.ty]
command = "ty"
args = ["server"]

[[language]]
name = "python"
language-servers = ["ty"]
