@import url("./colors.css");

* {
    font-family: SourceCodePro;
    font-size: 15px;
    background: @background;
    color: @foreground;
}

#cpu,
#bluetooth,
#battery,
#clock
{
    padding-left: 35px;
    background: @dark-background;
}

