.app {
    display: flex;
    flex-wrap: wrap;
}

.down {
    padding: 5%;
    background-color: red;
    border-radius: 10%;
    margin: 1%;
}

.starting {
    padding: 5%;
    background-color: orange;
    border-radius: 10%;
    margin: 1%;
}

.up {
    padding: 5%;
    background-color: green;
    border-radius: 10%;
    margin: 1%;
}

.counter {
    padding: 5%;
    background-color: gray;
    border-radius: 10%;
    margin: 1%;
}
